## PAIR PROGRAMMING PANDAS IV
---

In [1]:
import pandas as pd
import numpy as np
import random

**EJERCICIO 1**

Cargad el csv que guardasteis ayer.


Antes de seguir con las preguntas, este DataFrame está terriblemente sucio. En las próximas sesiones lo iremos limpiando.


Para evitar posibles errores con los nulos vamos a eliminar todos los nulos del DataFrame.


Para ello vamos a utilizar el método .dropna() de pandas. Tendréis que ejecutar la siguiente línea de código para eliminar los nulos del DataFrame y poder seguir haciendo el resto de los ejercicios.

In [2]:
# Cargamos el archivo
df_csv = pd.read_csv("attacks2.csv")

In [3]:
df_csv.shape

(6114, 14)

In [4]:
# Eliminamos los nulos con el método .dropna

df_csv.dropna(inplace = True)

In [5]:
df_csv.shape

(1502, 14)

- ¿Cuántas filas se han eliminado con esta línea de código?

In [6]:
filas_eliminadas = 6114 - 1502
f'El numero de filas eliminadas es {filas_eliminadas}'

'El numero de filas eliminadas es 4612'

In [7]:
df_csv.columns

Index(['case_number', 'unnamed:_0', 'year', 'type', 'country', 'area',
       'location', 'activity', 'name', 'sex_', 'age', 'time', 'species_',
       'href'],
      dtype='object')

-------

**EJERCICIO 2**

¿Cuál es el número de ataques que se han producido en Estados Unidos?

In [40]:
# Filtramos en base al valor de la columna Country con la condición de que este sea USA. 
# Lo almacenamos en un nuevo DF y utilizando el metodo .shape para ver el numero de ataques

df_estados_unidos = df_csv[df_csv["country"] == "USA"]
print(f'El número de ataques en USA es {df_estados_unidos.shape[0]}')
df_estados_unidos.head(2)

El número de ataques en USA es 719

,case_number,unnamed:_0,year,type,country,area,location,activity,name,sex_,age,time,species_,href,siglo
0,2018.06.25,0,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI
8,2018.05.26.b,8,2018.0,Unprovoked,USA,Florida,"Cocoa Beach, Brevard County",Walking,Cody High,M,15,17h00,"Bull shark, 6'",http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI

---

**EJERCICIO 3** 

¿Cuál es el número de ataques que se han producido en España?

In [32]:
# Filtramos en base al valor de la columna Country con la condición de que este sea SPAIN. 
# Lo almacenamos en un nuevo DF y utilizando el metodo .shape para ver el numero de ataques

df_españa = df_csv[df_csv["country"] == "SPAIN"]
print(f'El número de ataques en España es {df_españa.shape[0]}')
df_españa.head(2)

El número de ataques en España es 5

,case_number,unnamed:_0,year,type,country,area,location,activity,name,sex_,age,time,species_,href,siglo
98,2017.08.26.b,98,2017.0,Invalid,SPAIN,CastellÃ³n,Grao de Moncofa,Swimming,female,F,11,Midday,Shark involvement questionable,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI
233,2016.07.29,234,2016.0,Unprovoked,SPAIN,Alicante Province,Arenales del Sol,Swimming,male,M,40,11h30,Blue shark,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI

- ¿En qué regiones se han producido los ataques (columna location) ?

In [10]:
# Filtramos por columna location en el DF previamente almacenado con los resultados de España

ataques_location = df_españa["location"]
ataques_location

98                     Grao de Moncofa
233                   Arenales del Sol
377           Poniente Beach, Benidorm
1007        Sardina del Norte, GÃ¡ldar
2469    Playa de las Arenas, Valencia
Name: location, dtype: object

- ¿Cuántos ataques se han producido en cada área (columna area?

In [11]:
ataques_area = df_españa["area"].value_counts()
ataques_area

CastellÃ³n             1
Alicante Province      1
Alicante               1
Grand Canary Island    1
Costa Blanca           1
Name: area, dtype: int64

-----

**EJERCICIO 4**

Extraed un DataFrame nuevo con los ataques que se han producido en Australia y Estados Unidos.

📌 Nota Este ejercicio se puede resolver usando dos condiciones de filtrado o usando el método 
isin(). Hacedlo con ambas herramientas.

In [12]:
# Extraemos el DF filtrando en base al valor de una columna, pero pidiendo que se cumplan dos 
# condiciones distintas utilizando el operador OR | , ya que en este caso las condiciones no 
# se pueden cumplir a la vez 

ataques_aus_usa = df_csv[(df_csv["country"] == "AUSTRALIA") | (df_csv["country"] == "USA")]
ataques_aus_usa.head(2)

,case_number,unnamed:_0,year,type,country,area,location,activity,name,sex_,age,time,species_,href
0,2018.06.25,0,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...
8,2018.05.26.b,8,2018.0,Unprovoked,USA,Florida,"Cocoa Beach, Brevard County",Walking,Cody High,M,15,17h00,"Bull shark, 6'",http://sharkattackfile.net/spreadsheets/pdf_di...

In [13]:
# Extraemos el DF con el metodo isin() de pandas

ataques_isin = df_csv[df_csv["country"].isin(["USA","AUSTRALIA"])]
ataques_isin.head(2)

,case_number,unnamed:_0,year,type,country,area,location,activity,name,sex_,age,time,species_,href
0,2018.06.25,0,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...
8,2018.05.26.b,8,2018.0,Unprovoked,USA,Florida,"Cocoa Beach, Brevard County",Walking,Cody High,M,15,17h00,"Bull shark, 6'",http://sharkattackfile.net/spreadsheets/pdf_di...

- ¿Cuántos ataques se han producido en cada país?

In [14]:
ataques_isin['country'].value_counts()

USA          719
AUSTRALIA    324
Name: country, dtype: int64

- ¿Ha habido ataques en Australia a gente que estuviera remando (lo encontrareis como Paddling en el DataFrame en la columna activity)?

In [15]:
ataques_paddling = df_csv[(df_csv["activity"] == "Paddling") & (df_csv["country"] == "AUSTRALIA")]
ataques_paddling
# No devuelve ataques que cumplan las dos condiciones

Empty DataFrame
Columns: [case_number, unnamed:_0, year, type, country, area, location, activity, name, sex_, age, time, species_, href]
Index: []

-  ¿Cuántos ataques se han producido en Australia antes del 2000?

In [34]:
df_ataques_fecha = df_csv[(df_csv["year"] <= 2000.0) & (df_csv["country"] == "AUSTRALIA")]
print(f'El número de ataques en Autralia antes del 2000 es {df_ataques_fecha.shape[0]}')
df_ataques_fecha.head(2)

El número de ataques en Autralia antes del 2000 es 157

,case_number,unnamed:_0,year,type,country,area,location,activity,name,sex_,age,time,species_,href,siglo
1979,2000.12.03,1986,2000.0,Unprovoked,AUSTRALIA,Queensland,"Sykes Reef, Great Barrier Reef",Spearfishing,Chris Hogan,M,38,09h30,"Bronze whaler shark, 2.5 m [8.25']",http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI
1985,2000.11.06.b,1992,2000.0,Unprovoked,AUSTRALIA,Western Australia,"Cottesloe Beach, Perth",Swimming,Dirk Avery,M,52,06h30,"White shark, 4.9 m [16']",http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI

-  ¿Y después del 2000?

In [35]:
df_ataques_fecha2 = df_csv[(df_csv["year"] > 2000.0) & (df_csv["country"] == "AUSTRALIA")]
print(f'El número de ataques en Autralia después del 2000 es {df_ataques_fecha2.shape[0]}')
df_ataques_fecha2.head(2)

El número de ataques en Autralia después del 2000 es 167

,case_number,unnamed:_0,year,type,country,area,location,activity,name,sex_,age,time,species_,href,siglo
10,2018.05.24,10,2018.0,Provoked,AUSTRALIA,Queensland,Cairns Aquarium,Feeding sharks,male,M,32,Morning,Grey reef shark,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI
21,2018.04.25.a,21,2018.0,Unprovoked,AUSTRALIA,Western Australia,"Surfers Point, Prevelly",Surfing,Rob Bruce,M,60,09h30,3 m shark,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI

------------

**EJERCICIO 5** 

Extraed unicamente los ataques a mujeres.

In [36]:
df_ataques_mujeres = df_csv[(df_csv["sex_"] == 'F') & (df_csv["country"] == "AUSTRALIA")]
print(f'El número de ataques en Autralia a mujeres es {df_ataques_mujeres.shape[0]}')
df_ataques_mujeres.head(2)

# 31 registros/ataques a mujeres en Australia

El número de ataques en Autralia a mujeres es 31

,case_number,unnamed:_0,year,type,country,area,location,activity,name,sex_,age,time,species_,href,siglo
40,2018.02.23,40,2018.0,Unprovoked,AUSTRALIA,New South Wales,"Little Congwong Beach, La Perouse",Swimming,Anna Shurapey,F,55,"19h00, Dusk","Juvenile white shark, 2.7 to 3.2 m",http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI
71,2017.10.22,71,2017.0,Unprovoked,AUSTRALIA,South Australia,Normanville,Kayaking / Fishing,Sarah Williams,F,15,Afternoon,"White shark, 4.5 m",http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI

---------------

**EJERCICIO 6**

¿Cuántas mujeres fueron atacadas en España?

In [37]:
df_ataques_mujeres2 = df_csv[(df_csv["sex_"] == 'F') & (df_csv["country"] == "SPAIN")]
print(f'El número de ataques en España a mujeres es {df_ataques_mujeres2.shape[0]}')
df_ataques_mujeres2.head(2)

El número de ataques en España a mujeres es 1

,case_number,unnamed:_0,year,type,country,area,location,activity,name,sex_,age,time,species_,href,siglo
98,2017.08.26.b,98,2017.0,Invalid,SPAIN,CastellÃ³n,Grao de Moncofa,Swimming,female,F,11,Midday,Shark involvement questionable,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI

----------------

**EJERCICIO 7** 

Extraed los ataques que se hayan producido en el año 2000, 1997 y 2006. Utilizad el método isin() para resolver este ejercicio.

In [20]:
ataques_años= df_csv[df_csv['year'].isin([2000.0, 1997.0,2006.0])]
ataques_años['year'].value_counts()

2006.0    40
2000.0    33
1997.0    19
Name: year, dtype: int64

---

**EJERCICIO 8**

Si extraemos los valores únicos de la columna species nos podemos dar cuenta que está un poco sucia y extraer informacion útil de la misma se puede convertir en algo difícil. En este ejercicio tendréis que extraer los ataques que han ocurrido por tiburón blanco (lo encontraremos en la columna species como algo que contenga white o White). Usad el método str.contains() para resolver este ejercicio.

In [21]:
#patron = '^w\w+' #con este patron regex filtramos por palabras que empiecen por w y sigan con más letras

In [22]:
patron2 = '.+white.+' #con este patrón regex filtramos por la palabra white

In [23]:
df_csv.columns

Index(['case_number', 'unnamed:_0', 'year', 'type', 'country', 'area',
       'location', 'activity', 'name', 'sex_', 'age', 'time', 'species_',
       'href'],
      dtype='object')

In [38]:
tiburon_blanco= df_csv[df_csv["species_"].str.contains(patron2, case = False, regex=True)]
print(f'El número de ataques por tiburon blanco es {tiburon_blanco.shape[0]}')
tiburon_blanco.head(2)

El número de ataques por tiburon blanco es 140

,case_number,unnamed:_0,year,type,country,area,location,activity,name,sex_,age,time,species_,href,siglo
40,2018.02.23,40,2018.0,Unprovoked,AUSTRALIA,New South Wales,"Little Congwong Beach, La Perouse",Swimming,Anna Shurapey,F,55,"19h00, Dusk","Juvenile white shark, 2.7 to 3.2 m",http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI
459,2015.01.06,460,2015.0,Unprovoked,BAHAMAS,Abaco Islands,"Tahiti Beach, Elbow Cay",Snorkeling,Lacy Webb,F,34,16h00,White shark or oceanic whitetip shark,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI

---

**EJERCICIO 9** 

Extraed ahora los ataques por tiburón blanco o tigre. Utilizad el método str.contains() para resolver este ejercicio.

In [25]:
# patron3 = '^[w|t]\w+' #con este patron regex filtramos por palabras que empiecen por w ó t 
#y sigan con más letras

In [26]:
patron4 = '.+white.+|.+tiger.+'

In [39]:
tiburones = df_csv[df_csv["species_"].str.contains(patron4, case = False, regex=True)]
print(f'El número de ataques por tiburon blanco y tiburon tigre es {tiburones.shape[0]}')
tiburones.head(2)

El número de ataques por tiburon blanco y tiburon tigre es 159

,case_number,unnamed:_0,year,type,country,area,location,activity,name,sex_,age,time,species_,href,siglo
40,2018.02.23,40,2018.0,Unprovoked,AUSTRALIA,New South Wales,"Little Congwong Beach, La Perouse",Swimming,Anna Shurapey,F,55,"19h00, Dusk","Juvenile white shark, 2.7 to 3.2 m",http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI
406,2015.06.24.b,407,2015.0,Unprovoked,USA,North Carolina,Surf City,Swimming,Brady Noyes,M,6,12h25,Sandtiger shark,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI

---

** EJERCICIO 10** 

Utilizando la columna de year cread una nueva columna llamada siglo que tiene siglo-XX o siglo-XXI. Donde el año sea menor que 2000 pondremos siglo-XX y el resto de los años siglo-XXI.

In [28]:
# Utilizamos el método np.select, pasando las condiciones para separar por los años y creando las 
# opciones con los siglos.

años = [df_csv["year"] < 2000.0, df_csv["year"] >= 2000.0] 
siglos = ["siglo-XX", "siglo-XXI"] 

df_csv['siglo']= np.select(años, siglos)
df_csv.head()

,case_number,unnamed:_0,year,type,country,area,location,activity,name,sex_,age,time,species_,href,siglo
0,2018.06.25,0,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI
6,2018.06.03.a,6,2018.0,Unprovoked,BRAZIL,Pernambuco,"Piedade Beach, Recife",Swimming,Jose Ernesto da Silva,M,18,Late afternoon,Tiger shark,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI
8,2018.05.26.b,8,2018.0,Unprovoked,USA,Florida,"Cocoa Beach, Brevard County",Walking,Cody High,M,15,17h00,"Bull shark, 6'",http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI
10,2018.05.24,10,2018.0,Provoked,AUSTRALIA,Queensland,Cairns Aquarium,Feeding sharks,male,M,32,Morning,Grey reef shark,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI
13,2018.05.13.a,13,2018.0,Invalid,ENGLAND,Cornwall,Off Land's End,Fishing,Max Berryman,M,21,08h15,Invalid incident,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI

---

**EJERCICIO 11** 

Guardad como un archivo csv nuevo. Lo usaremos en el pair programming de mañana.

In [29]:
# Guardamos el archivo en la carpeta del pair de hoy

df_csv.to_csv("attacks3.csv")

In [30]:
# Guardamos el archivo en la carpeta del pair de mañana

df_csv.to_csv("../pandas_V/attacks3.csv")