## PAIR PROGRAMMING PANDAS IV
---

In [2]:
import pandas as pd
import numpy as np
import random

**EJERCICIO 1**

Cargad el csv que guardasteis ayer.


Antes de seguir con las preguntas, este DataFrame est√° terriblemente sucio. En las pr√≥ximas sesiones lo iremos limpiando.


Para evitar posibles errores con los nulos vamos a eliminar todos los nulos del DataFrame.


Para ello vamos a utilizar el m√©todo .dropna() de pandas. Tendr√©is que ejecutar la siguiente l√≠nea de c√≥digo para eliminar los nulos del DataFrame y poder seguir haciendo el resto de los ejercicios.

In [3]:
# Cargamos el archivo
df_csv = pd.read_csv("attacks2.csv")

In [4]:
df_csv.shape

(6114, 14)

In [5]:
# Eliminamos los nulos con el m√©todo .dropna

df_csv.dropna(inplace = True)

In [6]:
df_csv.shape

(1502, 14)

- ¬øCu√°ntas filas se han eliminado con esta l√≠nea de c√≥digo?

In [7]:
filas_eliminadas = 6114 - 1502
f'El numero de filas eliminadas es {filas_eliminadas}'

'El numero de filas eliminadas es 4612'

In [8]:
df_csv.columns

Index(['case_number', 'unnamed:_0', 'year', 'type', 'country', 'area',
       'location', 'activity', 'name', 'sex_', 'age', 'time', 'species_',
       'href'],
      dtype='object')

-------

**EJERCICIO 2**

¬øCu√°l es el n√∫mero de ataques que se han producido en Estados Unidos?

In [9]:
# Filtramos en base al valor de la columna Country con la condici√≥n de que este sea USA. 
# Lo almacenamos en un nuevo DF y utilizando el metodo .shape para ver el numero de 
# registros / ataques, 719

df_estados_unidos = df_csv[df_csv["country"] == "USA"]
df_estados_unidos.shape

(719, 14)

---

**EJERCICIO 3** 

¬øCu√°l es el n√∫mero de ataques que se han producido en Espa√±a?

In [10]:
# Filtramos en base al valor de la columna Country con la condici√≥n de que este sea SPAIN. 
# Lo almacenamos en un nuevo DF y utilizando el metodo .shape para ver el numero de 
# registros / ataques, 5

df_espa√±a = df_csv[df_csv["country"] == "SPAIN"]
df_espa√±a.shape

(5, 14)

- ¬øEn qu√© regiones se han producido los ataques (columna location) ?

In [11]:
# Filtramos por columna location en el DF previamente almacenado con los resultados de Espa√±a

ataques_location = df_espa√±a["location"]
ataques_location

98                     Grao de Moncofa
233                   Arenales del Sol
377           Poniente Beach, Benidorm
1007        Sardina del Norte, G√É¬°ldar
2469    Playa de las Arenas, Valencia
Name: location, dtype: object

- ¬øCu√°ntos ataques se han producido en cada √°rea (columna area?

In [12]:
ataques_area = df_espa√±a["area"].value_counts()
ataques_area

Castell√É¬≥n             1
Alicante Province      1
Alicante               1
Grand Canary Island    1
Costa Blanca           1
Name: area, dtype: int64

-----

**EJERCICIO 4**

Extraed un DataFrame nuevo con los ataques que se han producido en Australia y Estados Unidos.

üìå Nota Este ejercicio se puede resolver usando dos condiciones de filtrado o usando el m√©todo 
isin(). Hacedlo con ambas herramientas.

In [30]:
# Extraemos el DF filtrando en base al valor de una columna, pero pidiendo que se cumplan dos 
# condiciones distintas utilizando el operador OR | , ya que en este caso las condiciones no 
# se pueden cumplir a la vez 

ataques_aus_usa = df_csv[(df_csv["country"] == "AUSTRALIA") | (df_csv["country"] == "USA")]
ataques_aus_usa.head(2)

,case_number,unnamed:_0,year,type,country,area,location,activity,name,sex_,age,time,species_,href,siglo
0,2018.06.25,0,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI
8,2018.05.26.b,8,2018.0,Unprovoked,USA,Florida,"Cocoa Beach, Brevard County",Walking,Cody High,M,15,17h00,"Bull shark, 6'",http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI

In [31]:
# Extraemos el DF con el metodo isin() de pandas

ataques_isin = df_csv[df_csv["country"].isin(["USA","AUSTRALIA"])]
ataques_isin.head(2)

,case_number,unnamed:_0,year,type,country,area,location,activity,name,sex_,age,time,species_,href,siglo
0,2018.06.25,0,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI
8,2018.05.26.b,8,2018.0,Unprovoked,USA,Florida,"Cocoa Beach, Brevard County",Walking,Cody High,M,15,17h00,"Bull shark, 6'",http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI

- ¬øCu√°ntos ataques se han producido en cada pa√≠s?

In [32]:
ataques_isin['country'].value_counts()

USA          719
AUSTRALIA    324
Name: country, dtype: int64

- ¬øHa habido ataques en Australia a gente que estuviera remando (lo encontrareis como Paddling en el DataFrame en la columna activity)?

In [33]:
ataques_paddling = df_csv[(df_csv["activity"] == "Paddling") & (df_csv["country"] == "AUSTRALIA")]
ataques_paddling
# No devuelve ataques que cumplan las dos condiciones

Empty DataFrame
Columns: [case_number, unnamed:_0, year, type, country, area, location, activity, name, sex_, age, time, species_, href, siglo]
Index: []

-  ¬øCu√°ntos ataques se han producido en Australia antes del 2000?

In [34]:
df_ataques_fecha = df_csv[(df_csv["year"] <= 2000.0) & (df_csv["country"] == "AUSTRALIA")]
df_ataques_fecha
# 157 ataques/rows en Australia antes del a√±o 2000

,case_number,unnamed:_0,year,type,country,area,location,activity,name,sex_,age,time,species_,href,siglo
1979,2000.12.03,1986,2000.0,Unprovoked,AUSTRALIA,Queensland,"Sykes Reef, Great Barrier Reef",Spearfishing,Chris Hogan,M,38,09h30,"Bronze whaler shark, 2.5 m [8.25']",http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI
1985,2000.11.06.b,1992,2000.0,Unprovoked,AUSTRALIA,Western Australia,"Cottesloe Beach, Perth",Swimming,Dirk Avery,M,52,06h30,"White shark, 4.9 m [16']",http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI
1986,2000.11.06.a,1993,2000.0,Unprovoked,AUSTRALIA,Western Australia,"Cottesloe Beach, Perth",Swimming,Ken Crew,M,49,06h30,"White shark, 5 m [16.5']",http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI
1997,2000.09.25,2004,2000.0,Unprovoked,AUSTRALIA,South Australia,"Black Point, Eyre Peninsula",Surfing,Jevan Wright,M,17,13h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI
1998,2000.09.24,2005,2000.0,Unprovoked,AUSTRALIA,South Australia,Cactus Beach near Penong,Surfing,Cameron Bayes,M,25,07h30,"White shark, 4 m to 5 m [13' to 16.5']",http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5359,1912.01.26,5375,1912.0,Unprovoked,AUSTRALIA,New South Wales,"Fig Tree Bridge, Lane Cove River, near Sydney",Swimming,James Edward Morgan,M,21,15h00,"2.8 m [9'3""] whaler shark captured 3 days late...",http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XX
5481,1905.03.26,5498,1905.0,Unprovoked,AUSTRALIA,New South Wales,Lismore,Bathing,Richard Owen,M,40,Morning,5' shark,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XX
5631,1894.11.28,5648,1894.0,Unprovoked,AUSTRALIA,New South Wales,Newcastle,Bathing,Horace Hewison,M,19,Morning,10' to 12' shark,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XX
5667,1892.03.02,5684,1892.0,Provoked,AUSTRALIA,New South Wales,Lake Macquarie,Fishing,Christopher Wang,M,21,Night,12' shark,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XX
5797,1880.11.25,5814,1880.0,Unprovoked,AUSTRALIA,Queensland,"Petrie Bight, Brisbane River",Swimming,Alexey Drury,M,12,Afternoon,Bull shark,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XX

-  ¬øY despu√©s del 2000?

In [18]:
df_ataques_fecha2 = df_csv[(df_csv["year"] > 2000.0) & (df_csv["country"] == "AUSTRALIA")]
df_ataques_fecha2
# 167 ataques/rows en Australia despu√©s del a√±o 2000

,case_number,unnamed:_0,year,type,country,area,location,activity,name,sex_,age,time,species_,href
10,2018.05.24,10,2018.0,Provoked,AUSTRALIA,Queensland,Cairns Aquarium,Feeding sharks,male,M,32,Morning,Grey reef shark,http://sharkattackfile.net/spreadsheets/pdf_di...
21,2018.04.25.a,21,2018.0,Unprovoked,AUSTRALIA,Western Australia,"Surfers Point, Prevelly",Surfing,Rob Bruce,M,60,09h30,3 m shark,http://sharkattackfile.net/spreadsheets/pdf_di...
36,2018.03.14,36,2018.0,Unprovoked,AUSTRALIA,Western Australia,Waterman's Bay,Wading,Luke Guy & Finn Bald,M,10,17h35,Wobbegong shark,http://sharkattackfile.net/spreadsheets/pdf_di...
37,2018.03.09.b,37,2018.0,Unprovoked,AUSTRALIA,Victoria,Lorne,Swimming,Rob Crossland,M,69,15h30,3.5 m shark,http://sharkattackfile.net/spreadsheets/pdf_di...
38,2018.03.09.a,38,2018.0,Unprovoked,AUSTRALIA,Victoria,Winkipop,Surfing,Lachie Brown,M,18,07h30,1.8 m shark,http://sharkattackfile.net/spreadsheets/pdf_di...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1876,2002.02.07,1883,2002.0,Boating,AUSTRALIA,New South Wales,Paramatta River (near Sydney),Kayaking,Paul McNamara,M,35,19h15,C. leucas tooth fragment recovered from kayak,http://sharkattackfile.net/spreadsheets/pdf_di...
1877,2002.01.30.b,1884,2002.0,Unprovoked,AUSTRALIA,New South Wales,Just north of Fingal Spit,Surfing,Andrew Cribb,M,20,20h45 (Sunset),"Tiger shark, 3 m [10']",http://sharkattackfile.net/spreadsheets/pdf_di...
1888,2001.10.02,1895,2001.0,Unprovoked,AUSTRALIA,Queensland,200 miles offshore,Snorkeling,Katherine Jones,F,20,13h00,Bronze whaler shark?,http://sharkattackfile.net/spreadsheets/pdf_di...
1961,2001.04.02.a,1968,2001.0,Unprovoked,AUSTRALIA,New South Wales,Nambucca River Entrance,Surfing,Richard Ellis,M,40,10h00,Bronze whaler shark,http://sharkattackfile.net/spreadsheets/pdf_di...
1969,2001.02.04,1976,2001.0,Unprovoked,AUSTRALIA,New South Wales,Broome Head,Surfing,Mark Butler,M,40,16h15,"Bronze whaler shark, 2.5 m [8.25'] k",http://sharkattackfile.net/spreadsheets/pdf_di...

------------

**EJERCICIO 5** 

Extraed unicamente los ataques a mujeres.

In [19]:
df_ataques_mujeres = df_csv[(df_csv["sex_"] == 'F') & (df_csv["country"] == "AUSTRALIA")]
df_ataques_mujeres.shape
# 31 registros/ataques a mujeres en Australia

(31, 14)

---------------

**EJERCICIO 6**

¬øCu√°ntas mujeres fueron atacadas en Espa√±a?

In [20]:
df_ataques_mujeres2 = df_csv[(df_csv["sex_"] == 'F') & (df_csv["country"] == "SPAIN")]
df_ataques_mujeres2.shape
# 1 registro/ataque a mujeres en Espa√±a

(1, 14)

----------------

**EJERCICIO 7** 

Extraed los ataques que se hayan producido en el a√±o 2000, 1997 y 2006. Utilizad el m√©todo isin() para resolver este ejercicio.

In [21]:
ataques_a√±os= df_csv[df_csv['year'].isin([2000.0, 1997.0,2006.0])]
ataques_a√±os['year'].value_counts()

2006.0    40
2000.0    33
1997.0    19
Name: year, dtype: int64

---

**EJERCICIO 8**

Si extraemos los valores √∫nicos de la columna species nos podemos dar cuenta que est√° un poco sucia y extraer informacion √∫til de la misma se puede convertir en algo dif√≠cil. En este ejercicio tendr√©is que extraer los ataques que han ocurrido por tibur√≥n blanco (lo encontraremos en la columna species como algo que contenga white o White). Usad el m√©todo str.contains() para resolver este ejercicio.

In [22]:
#patron = '^w\w+' #con este patron regex filtramos por palabras que empiecen por w y sigan con m√°s letras

In [ ]:
patron2 = '.+white.+' #con este patr√≥n regex filtramos por la palabra white

In [23]:
df_csv.columns

Index(['case_number', 'unnamed:_0', 'year', 'type', 'country', 'area',
       'location', 'activity', 'name', 'sex_', 'age', 'time', 'species_',
       'href'],
      dtype='object')

In [35]:
tiburon_blanco= df_csv[df_csv["species_"].str.contains(patron2, case = False, regex=True)]
tiburon_blanco
# 254 ataques de tibur√≥n blanco en todo el mundo

,case_number,unnamed:_0,year,type,country,area,location,activity,name,sex_,age,time,species_,href,siglo
0,2018.06.25,0,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI
6,2018.06.03.a,6,2018.0,Unprovoked,BRAZIL,Pernambuco,"Piedade Beach, Recife",Swimming,Jose Ernesto da Silva,M,18,Late afternoon,Tiger shark,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI
18,2018.04.28.b,18,2018.0,Unprovoked,COSTA RICA,Cocos Island,Manuelita,Scuba diving,male,M,30,10h40,Tiger shark,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI
23,2018.04.23,23,2018.0,Unprovoked,MALDIVES,Alifu Alifu Atoll,Madoogali,Fishing,Ahmed Rasheed,M,32,21h50,Tiger shark,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI
24,2018.04.22,24,2018.0,Unprovoked,SOUTH AFRICA,Western Cape Province,"Robberg Beach, Plettenberg Bay",Paddle-skiing,male,M,33,09h40,"White shark, 2.5 m",http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5212,1922.05.06,5225,1922.0,Unprovoked,SOUTH AFRICA,Western Cape Province,"Simon√Ç¬ís Town, False Bay",Swimming,Edward G. Pells,M,18,A.M.,"White shark, 12', identity confirmed by tooth ...",http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XX
5216,1922.03.02,5229,1922.0,Unprovoked,AUSTRALIA,New South Wales,Coogee,Bathing in knee-deep water,Mervyn Gannon,M,21,11h00,"White shark, 2.4 m [8']",http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XX
5218,1922.02.04,5231,1922.0,Unprovoked,AUSTRALIA,New South Wales,Coogee,Swimming,Milton Coughlan,M,18,15h30,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XX
5297,1916.07.01,5311,1916.0,Unprovoked,USA,New Jersey,"Beach Haven, Ocean County",Swimming,Charles E. Vansant,M,24,17h00,Thought to involve a 2.6 m [8.5'] white shark,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XX
5528,1901.07.30,5545,1901.0,Unprovoked,SOUTH AFRICA,Western Cape Province,Windmill Beach,Swimming,"John Hendrick Adrian Chandler, a prisoner of war",M,29,14h15,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XX

---

**EJERCICIO 9** 

Extraed ahora los ataques por tibur√≥n blanco o tigre. Utilizad el m√©todo str.contains() para resolver este ejercicio.

In [25]:
# patron3 = '^[w|t]\w+' #con este patron regex filtramos por palabras que empiecen por w √≥ t 
#y sigan con m√°s letras

In [37]:
patron4 = '.+white.+|.+tiger.+'

In [38]:
tiburones = df_csv[df_csv["species_"].str.contains(patron4, case = False, regex=True)]
tiburones

,case_number,unnamed:_0,year,type,country,area,location,activity,name,sex_,age,time,species_,href,siglo
40,2018.02.23,40,2018.0,Unprovoked,AUSTRALIA,New South Wales,"Little Congwong Beach, La Perouse",Swimming,Anna Shurapey,F,55,"19h00, Dusk","Juvenile white shark, 2.7 to 3.2 m",http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI
406,2015.06.24.b,407,2015.0,Unprovoked,USA,North Carolina,Surf City,Swimming,Brady Noyes,M,6,12h25,Sandtiger shark,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI
459,2015.01.06,460,2015.0,Unprovoked,BAHAMAS,Abaco Islands,"Tahiti Beach, Elbow Cay",Snorkeling,Lacy Webb,F,34,16h00,White shark or oceanic whitetip shark,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI
495,2014.10.02.a,496,2014.0,Unprovoked,AUSTRALIA,Western Australia,"Kelpids Beach, Wylie Bay, Esperance",Surfing,Sean Pollard,M,23,11h00,"2 white shark: 13' & 9""8""",http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI
553,2014.05.14,555,2014.0,Unprovoked,AUSTRALIA,South Australia,"Elliston, Eyre Peninsula",Surfing,Andrew McLeod,M,35,09h30,"white shark, 15'",http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4210,1956.12.26,4222,1956.0,Unprovoked,PAPUA NEW GUINEA,Milne Bay Province,Samarai Island (south end),Spearfishing,Patterson (John) Nikuniko,M,19,13h00,2.4 m [8'] tiger shark caught 40 hours later w...,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XX
4292,1955.02.05,4304,1955.0,Unprovoked,AUSTRALIA,New South Wales,"Sugarloaf Bay, Middle Harbor, Sydney",Swimming,Bruno Aloysius Rautenberg,M,25,14h35,3.6 m white shark (or bronze whaler),http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XX
5134,1926.07.23,5146,1926.0,Unprovoked,ITALY,Golfo di Genova in the Ligurian Sea,Varazze,Swimming,Augusto Casellato,M,20,11h00,Said to involve 6 to 7 m [20' to 23'] white shark,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XX
5136,1926.07.08,5148,1926.0,Unprovoked,USA,California,"San Francisco Bay (or San Leandro Bay), near c...",Swimming with dog near canning factory,Norman Piexotto,M,15,,1.5 m [5'] white shark or sevengill shark,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XX
5297,1916.07.01,5311,1916.0,Unprovoked,USA,New Jersey,"Beach Haven, Ocean County",Swimming,Charles E. Vansant,M,24,17h00,Thought to involve a 2.6 m [8.5'] white shark,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XX

---

** EJERCICIO 10** 

Utilizando la columna de year cread una nueva columna llamada siglo que tiene siglo-XX o siglo-XXI. Donde el a√±o sea menor que 2000 pondremos siglo-XX y el resto de los a√±os siglo-XXI.

In [39]:
# Utilizamos el m√©todo np.select, pasando las condiciones para separar por los a√±os y creando las 
# opciones con los siglos.

a√±os = [df_csv["year"] < 2000.0, df_csv["year"] >= 2000.0] 
siglos = ["siglo-XX", "siglo-XXI"] 

df_csv['siglo']= np.select(a√±os, siglos)
df_csv.head()

,case_number,unnamed:_0,year,type,country,area,location,activity,name,sex_,age,time,species_,href,siglo
0,2018.06.25,0,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI
6,2018.06.03.a,6,2018.0,Unprovoked,BRAZIL,Pernambuco,"Piedade Beach, Recife",Swimming,Jose Ernesto da Silva,M,18,Late afternoon,Tiger shark,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI
8,2018.05.26.b,8,2018.0,Unprovoked,USA,Florida,"Cocoa Beach, Brevard County",Walking,Cody High,M,15,17h00,"Bull shark, 6'",http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI
10,2018.05.24,10,2018.0,Provoked,AUSTRALIA,Queensland,Cairns Aquarium,Feeding sharks,male,M,32,Morning,Grey reef shark,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI
13,2018.05.13.a,13,2018.0,Invalid,ENGLAND,Cornwall,Off Land's End,Fishing,Max Berryman,M,21,08h15,Invalid incident,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI

---

**EJERCICIO 11** 

Guardad como un archivo csv nuevo. Lo usaremos en el pair programming de ma√±ana.

In [28]:
# Guardamos el archivo en la carpeta del pair de hoy

df_csv.to_csv("attacks3.csv")

In [29]:
# Guardamos el archivo en la carpeta del pair de ma√±ana

df_csv.to_csv("../pandas_V/attacks3.csv")